body{
  padding-top: 200px;
}

/* Three columns side by side */
.col-sm-4{
  margin-bottom: 20px;
}

.name{
  text-align: center;
  text-transform: capitalize;
}

.title{
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
}

.email{
  text-align: center;
  text-transform: none;
}

.description{
  text-align: justify;
  text-transform: none;
}

/* Add some shadows to create a card effect */
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.card img:hover{
  opacity: 0.7;
}

.card img{
  border-radius: 15px 50px;
}

/* Some left and right padding inside the container*/
 .container-fluid {
  font-family: 'Poppins', sans-serif;
  padding: 13px 13px;
  color: #18396E;
}
/* Clear floats */
.container-fluid::after, .row::after {
  content: "";
  clear: both;
  display: table;
}

.navbar-default {
  background-color: white !important;
  border-color: white !important;
  opacity: 0.9;
}
.navbar-default .navbar-brand {
  color: #f7e415 !important;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #f7e415 !important;
}
.navbar-default .navbar-text {
  color: #f7e415 !important;
}
.navbar-default .navbar-nav > li > a {
  color: #18396E !important;
  font-size: 20px !important;
  font-weight: bold !important;
  /*text-shadow: -1px 0 #f7e415, 0 1px #f7e415, 1px 0 #f7e415, 0 -1px #f7e415 !important;*/
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #18396E !important;
  font-size: 20px !important;
  font-weight: bold !important;
  /*text-shadow: -1px 0 #f7e415, 0 1px #f7e415, 1px 0 #f7e415, 0 -1px #f7e415 !important;*/
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #18396E !important;
  font-size: 20px !important;
  font-weight: bold !important;
  /*text-shadow: -1px 0 #f7e415, 0 1px #f7e415, 1px 0 #f7e415, 0 -1px #f7e415 !important;*/
  background-color: white !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #18396E !important;
  font-size: 20px !important;
  font-weight: bold !important;
  /*text-shadow: -1px 0 #f7e415, 0 1px #f7e415, 1px 0 #f7e415, 0 -1px #f7e415 !important;*/
  background-color: #18396e !important;
}
.navbar-default .navbar-toggle {
  border-color: #18396e !important;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #18396e !important;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #f7e415 !important;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #f7e415 !important;
}
.navbar-default .navbar-link {
  color: #f7e415 !important;
}
.navbar-default .navbar-link:hover {
  color: #f7e415  !important;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #f7e415 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #f7e415 !important;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #f7e415 !important;
    background-color: #18396e !important;
  }
}

div.container-fluid {
  font-family: 'Poppins', sans-serif;
  text-transform: uppercase;

  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

a.navbar-brand-logo { /*or add another class instead of changing this*/
    display:block;
    margin:10px 0 10px 0; /* Adjust the margin : top right bottom left */
    text-align: center;
}
